.search-field {
    color: black;
    border-radius: 15px;
    margin: 1vw;
    padding: 1em 1em 1.5em 2em ;
    background-color: rgba(17, 76, 54, 0.54);
    box-shadow: 3px 3px 8px black;
    opacity: 0.8;
}

#newFieldBtn {
    font-weight: 500;
    background-color: rgb(45, 120, 92);
    color: white;
    border: none;
    margin-top: 2em;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
}

#newFieldBtn:hover {
    background-color: rgb(17, 76, 54);
}

#viewAllFields {
    font-weight: 500;
    background-color: rgb(45, 120, 92);
    color: white;
    border: none;
    margin-top: 2em;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
}

#viewAllFields:hover {
    background-color: rgb(17, 76, 54);
}

#newFieldModal .modal-body, #viewAllFieldsModal .modal-body, #fieldDetailsModal .modal-body, #fieldImagePreviewModal .modal-body {
    background-color: #8dbca1;
    color: rgb(17, 76, 54);
}

#fieldDetailsModal .disabled-input {
    margin-bottom: 1.2em;
    border: none;
    background-color: rgba(195, 239, 214, 0.85);
}

.all-fields-table {
    opacity: 0.7;
}

.field-table {
    position: absolute;
    height: 48%;
    width: 78%;
    border-radius: 15px;
    margin: 1vw;
    margin-top: 2vw;
    padding: 2em 2em 2em 2em ;
    box-shadow: 3px 3px 8px black;
    background-color: rgba(17, 76, 54, 0.54);
    opacity: 0.7;
}

/*.field-table td{*/
/*    font-size: 14px;*/
/*}*/

#field-section .add-to-cart, #field-section .view {
    margin: 0.5rem;
}

.new-field, .all-fields {
    margin-left: 0.5rem;
}

.field-page-photo {
    margin-left: 0.5rem;
    margin-top: 1.2rem;
}

#fieldImage1, #fieldImage2 {
    border: none;
    background-color: rgba(195, 239, 214, 0.85);
}