.search-staff {
    color: black;
    border-radius: 15px;
    margin: 1vw;
    padding: 1em 1em 1.5em 2em ;
    background-color: rgba(17, 76, 54, 0.54);
    box-shadow: 3px 3px 8px black;
    opacity: 0.8;
}

#newStaffBtn {
    font-weight: 500;
    background-color: rgb(45, 120, 92);
    color: white;
    border: none;
    margin-top: 2em;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
}

#newStaffBtn:hover {
    background-color: rgb(17, 76, 54);
}

#viewAllStaffs {
    font-weight: 500;
    background-color: rgb(45, 120, 92);
    color: white;
    border: none;
    margin-top: 2em;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.64);
}

#viewAllStaffs:hover {
    background-color: rgb(17, 76, 54);
}

#newStaffModal .modal-body, #viewAllStaffsModal .modal-body, #staffDetailsModal .modal-body, #assignedFieldsModal .modal-body {
    background-color: #8dbca1;
    color: rgb(17, 76, 54);
}

#staffDetailsModal .disabled-input {
    margin-bottom: 1.2em;
    border: none;
    background-color: rgba(195, 239, 214, 0.85);
}

.all-staffs-table {
    opacity: 0.7;
}

.staff-table {
    position: absolute;
    height: 48%;
    width: 78%;
    border-radius: 15px;
    margin: 1vw;
    margin-top: 2vw;
    padding: 2em 2em 2em 2em ;
    box-shadow: 3px 3px 8px black;
    background-color: rgba(17, 76, 54, 0.54);
    opacity: 0.7;
}

.staff-table td{
    font-size: 14px;
}

#staff-section .add-to-cart, #staff-section .view {
    margin: 0.5rem;
}

.new-staff, .all-staffs {
    margin-left: 0.5rem;
}

.staff-page-photo {
    /*margin: 0.5rem;*/
    margin-top: 1.3rem;
}

.assigned-fields-modal-input {
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.4);
    border: none;
    background-color: rgba(195, 239, 214, 0.85);
}

.assigned-fields-modal-input:focus {
    background-color: rgba(195, 239, 214, 0.85);
    border: 3px solid rgb(17, 76, 54);
}

.assigned-fields-modal-input:hover{
    border: 3px solid rgb(17, 76, 54);
}